body {
    margin: 0;
    padding-top:48px;
}

html, body {
    height: 100%;
} 
#leaflet {
    height: 100vh; 
    margin-bottom: 80px;
}
#header-bar {
    position: fixed;
    z-index: 10000;
    top:0px;
    width:100%; 
}
#sidebarInfo {
    height:100%;
    overflow: scroll;
}
#appSidebar {
    z-index: 10000;
    width:300px;
    max-width: 100%;
}

.w3-modal {
    z-index: 10000;
    text-align: center;
}
#timeline {
    position: fixed;
    bottom:0px; 
    z-index: 1000;
    width:100%;
    background:white;
}