body {
    margin: 0;
    padding-top:60px;
}

html, body {
    height: 100%;
}
#leaflet {
    height: 100%; 
    margin-bottom: 80px;
}
#header-bar {
    position: fixed;
    z-index: 10000;
    top:0px;
    width:100%;
    padding:10px 0px;
}
#appSidebar {
    z-index: 10000;
    width:400px;
    max-width: 100%;
}

.w3-modal {
    z-index: 10000;
    text-align: center;
}
#timeline {
    position: fixed;
    bottom:0px;
    height: 80px;
    z-index: 1000;
    width:100%;
    background:white;
}